header {
    padding-bottom: 3rem;
}header h1 {
    font-size: 9rem;
}
header p {
    font-size: 4rem;
    line-height: 5rem;
}
header nav {
    font-size: 6rem;
}

.main-container__canciones,
.main-container__danzas,
.main-container__aplausos {
    grid-template-columns: 32rem 32rem 32rem 32rem;
}